body{
	margin:0px;
	padding:0px;
	font-family:courier;
	font-size:12px;
	background: 
		radial-gradient(circle, transparent 20%, slategray 20%, slategray 80%, transparent 80%, transparent),
		radial-gradient(circle, transparent 20%, slategray 20%, slategray 80%, transparent 80%, transparent) 50px 50px,
		linear-gradient(#A8B1BB 8px, transparent 8px) 0 -4px,
		linear-gradient(90deg, #A8B1BB 8px, transparent 8px) -4px 0;
		background-color: slategray;
		background-size:100px 100px, 100px 100px, 50px 50px, 50px 50px;
	color:#080;
}

#left{
	display:none;
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	width:200px;
	background-color:rgba(0,0,0,0.8);
}

#right{
	position:absolute;
	left:0px;
	top:0px;
	bottom:0px;
	right:0px;
}

#MUD{
	position:absolute;
	top:0px;
	bottom:20px;
	left:0px;
	right:0px;
	font-size:13px;
	
}

#header{
	display:none;
	line-height:50px;
	background-color:rgba(100, 255, 88, 0.56);
	color:#000;
	font-weight:bold;
	padding-left:5px;
	padding-right:5px;
	font-size:25px;
}

#status{
	position:absolute;
	bottom:0px;
	left:0px;
	right:0px;
	height:18px;
	line-height:18px;
	padding-left:5px;
	padding-right:5px;
	background-color:rgba(180,180,180,0.80);
	color:#000;
	font-weight:bold;
	text-align:right;
}

#output{
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:30px;
	overflow:auto;
	background-color:rgba(0,0,0,0.95);
}

#output .message{
	padding-left:5px;
	padding-right:5px;
}

#output .message:nth-child(odd){
	background-color:rgba(255,255,255,0);
}

#output .message .timestamp{
	float:right;
	display:none;
}

#output .message .body{
	float:left;
	white-space:pre-wrap;
}

#output .message .clear{
	clear:both;
}

#output .message.echo .body{
	color:#FF0;
}

#output .message.error{
	color:#F00 !important;
	background-color:rgba(255,0,0,0.2);
	
}

#output .message.debug{
	color:#F0F !important;
	background-color:rgba(255,0,255,0.2);
	line-height:30px;
}

#input{
	position:absolute;
	background-color:rgba(0,0,0,0.9);
	bottom:0px;
	left:0px;
	right:0px;
	height:30px;
}

#input .wrapper{
	height:30px;
	line-height:30px;
	padding-left:5px;
	padding-right:5px;
	background-color:rgba(25,25,25,0.6);
}

#command{
	outline:none;
	border:0px;
	padding:0px;
	width:100%;
	height:100%;
	font-family:courier;
	background-color:transparent;
	color:#FFF;
}

.page{
}
