doctype html
html
	head
		title="Node Page"
		link(rel="stylesheet", type="text/css", href="/css/main.css")
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
		link(rel="icon", href="/favicon.ico", type="image/x-icon")
		link(href="https://fonts.googleapis.com/css?family=Fira+Mono|Source+Code+Pro", rel="stylesheet")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
		script(src="/socket.io/socket.io.js")
		script(src="/src/js/socket.js")
		script(src="/src/js/output.js")
		script(src="/src/js/input.js")
		script(src="/src/js/main.js")

	body
		#header.
			#{_package.name}
		#MUD
			#output
			#input
				.wrapper
					input#command(placeholder="...")
		#status.
			#{_package.name} v#{_package.version}
